body{
    font-family:ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: rgb(0, 0, 0);
}
header{
    padding-inline: 24px;
    margin-inline: auto;

}
.header-container {
    display: flex;
    align-items: center;
    max-width: 1280px;
    min-width: 834px;
    background-color: #1a1a1a;
    padding-block: 16px;
    padding-inline: 24px;
    border-radius: 14px;
    justify-content: space-between;
    margin-inline: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #2a2a2a;
}
.logo {
    align-self: center;
    gap: 12px;
}
.logo a{
    text-decoration: none;
    color: white;

}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav-list {
    display: flex;
    float: right;
    gap: 24px;
    list-style-type: none;
    margin: 24px;
    padding: 0;
    font-size: 24px;
}

.header-nav-list a{
    text-decoration: none;
    color: oklch(87.2% .01 258.338)
}
.header-nav-list a:hover{
    color: white;
}
#play_button{
    border: none;
    text-decoration: none;
    background-color: oklch(62.7% .194 149.214);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    padding: 14px 40px;
}
#play_button:hover{
    background-color: oklch(52.7% .154 150.069);
}

.servers-dropdown:hover .servers-dropdown-content {
    display: block;
}
.servers-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: max-content !important;
    height: max-content !important;
    background-color: #1a1a1a;
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.servers-dropdown-content a:hover {
    background-color: oklch(62.7% .194 149.214);
}
main{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    padding-block: 32px;
    padding-inline: 24px;
    max-width: 1328px;
    margin-inline: auto;

}
.placeholder{
    align-items: flex-start;
    margin-bottom: 8px;
    h4{
        color: white;
        font-size: 16px;
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    p{
        color: oklch(70.7% .022 261.325);
        margin: 0;
        padding: 0;
    }
}
#left_side{
    grid-column: span 2;
    float: left;
    width: 50%;
    padding: 4px;
    section{
        box-sizing: border-box;
    }
}
main:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 834px) {
    #leftSide{
        width: 100%;
    }
}
#left_side h2{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    margin:0 auto 24px;
    padding: 0;
}
#right_side{

}
.card{
    border-style: solid;
    border-width: 1px;
    border-color: #2a2a2a;
    border-radius: 14px;
    background-color: #1a1a1a;
    padding: 24px;
    display: flex;
}
#login{
    gap: 6px;
    grid-template-rows: min-content;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 24px;
    padding-inline: 24px;
}
#login_window{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#login_window_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        font-size: 14px;
        color: white;
        background-color: #2a2a2a;
        width: 100%;
        box-sizing: border-box;
        height: 36px;
        padding-block: 4px;
        padding-inline: 12px;
        margin-bottom: 8px;
        border-style: solid;
        border-width: 1px;
        border-color: #3a3a3a;
        border-radius: 8px;
    }
    button{
        display: inline-flex;
        width: 100%;
        box-sizing: border-box;
        height: 36px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.42;
        padding-block: 8px;
        gap: 8px;
        border: none;
        border-radius: 8px;
        background-color: oklch(62.7% .194 149.214);
        justify-content: center;
        align-items: center;
        color: white;
        svg{
            color: white;
            padding-right: 8px;
        }
    }
    #login_button:hover{
        background-color: oklch(52.7% .154 150.069);
    }
}
#login_window_links{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px;

    #register{
        text-decoration: none;
        color: oklch(62.7% .194 149.214);
        cursor: pointer;
        margin-right: 24px;

    }
    #forgot_password{
        color: oklch(70.7% .022 261.325);
        cursor: pointer;
    }
}
